{% load static %}
<!doctype html>
<html>
	<head>
    <title>ABG Web Crawler</title>
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}icon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="">
    {% block css %} 
      <link rel="stylesheet" href="{% static 'bundle.css' %}?ver={% now 'm.Y.d' %}" type="text/css">
    {% endblock %}
	</head>
	<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img class="logo" src="{{ MEDIA_URL }}icon.png" alt="">
          Web Crawler
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <section class="container">
        <form action="/" class="step-form" id="crawler">
          <div class="steps"></div>
          <div class="tab border m-0 p-4 rounded" data-name="Web Crawler">
            {% csrf_token %}
            <!-- <input type="text" class="form-input" name="url" required placeholder="Enter URL"> -->
            <div class="input-group mb-3" id="url_field_1">
              <span class="input-group-text" id="basic-addon2">Domain</span>
              <input type="text" class="form-input form-control" name="url_1" required placeholder="Enter URL">
            </div>
            <input type="text" class="form-input" name="prompt" required placeholder="AI Command">
          </div>
          <div class="status"></div>
          <div class="controller">
            <button name="remove_url" disabled type="button" class="btn remove_url">Remove URL</button>
            <button name="add_url" type="button" class="btn add_url">Add Another URL</button>
            <button name="next" type="button" class="btn">Submit</button>
          </div>
        </form>
        <div class="ai_response"></div>
      </section>
    </main>
    <footer class="footer text-center">
      <p>Copyright &copy; 2025 All Rights Reserved. Anthem Business Group</p>
    </footer>
    {% block js %}
      <script script defer src="{% static 'bundle.js' %}?ver={% now 'm.d.y' %}"></script>
    {% endblock %}
  </body>
</html>